<p id="notice"><%= notice %></p>

<h1>Private Articles</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Path</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @private_articles.each do |private_article| %>
      <tr>
        <td><%= private_article.user %></td>
        <td><%= private_article.name %></td>
        <td><%= private_article.path %></td>
        <td><%= link_to 'Show', private_article %></td>
        <td><%= link_to 'Edit', edit_private_article_path(private_article) %></td>
        <td><%= link_to 'Destroy', private_article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Private Article', new_private_article_path %>
